<section class="Form my-4 mx-5">
  <div class=" container">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <img src="assets/gif/reggif.gif" class="img-fluid" alt="" width="850" height="700">
      </div>
      <div class="col-lg-7 px-5 pt-5">
        <h1 class="font-weight-bold py-3">Sign up</h1>
        <h4>Register here</h4>
        <form>
          <div class="form-row">
            <div class="col-lg-7">
              <input type="text" placeholder="Username" [(ngModel)]="username" class="form-control my-3 p-3">
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input type="email" placeholder="Email-Address" [(ngModel)]="email" class="form-control my-3 p-3">
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input type="password" placeholder="Password" [(ngModel)]="password" class="form-control my-3 p-3">
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">

              <button type="button" routerLink="/login" class="btn1">Sign up</button>



            </div>




           