

<!-- <form action="#" (ngSubmit)="submit()" #myForm="ngForm">
<section class="Form my-4 mx-5">
  <div class=" container">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <img src="assets/gif/reggif.gif" class="img-fluid" alt="" width="850" height="700">
      </div>
      <div class="col-lg-7 px-5 pt-5">
        <h1 class="font-weight-bold py-3">Sign up</h1>
        <h4>Register here</h4>
        <form>
          <div class="form-row">
            <div class="col-lg-7">
              <input type="text" placeholder="Username" id="username" [(ngModel)]="cred.username" class="form-control my-3 p-3" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input type="email" placeholder="Email-Address" id="email" [(ngModel)]="cred.email" class="form-control my-3 p-3" pattern="[a-zA-Z0-9._%+-]+@[a-z]+\.[a-zA-Z]{2,}" (blur)="checkEmail()" required email>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input type="password" placeholder="Password" id="password" [(ngModel)]="cred.password" class="form-control my-3 p-3" (blur)="checkPasswords()">
              <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
            </div>
                       </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input type="password" placeholder=" ConfirmPassword" id="confirmpassword" [(ngModel)]="cred.confirmpassword" class="form-control my-3 p-3" (blur)="checkPasswords()">
              <div *ngIf="!passwordsMatch">Passwords do not match.</div>
            </div>

          </div>
          
         

        
          <div class="form-row">
            <div class="col-lg-7">

              <button type="button"  class="btn1" (ngSubmit)="submit()" [disabled]="!myForm.form.valid">Sign up</button>
              <!-- <button type="button" routerLink="/login" class="btn1" (click)="submit()" [disabled]="!myForm.form.valid">Sign up</button> -->


            
            <!-- </div>
          </div>
        <!-- </section> -->
          <!-- </form> --> 
<!-- 
   -->
            <!-- <form [formGroup]="signupForm" (ngSubmit)="signup()"> -->
              <!-- <div class="form-group"> -->
                <!-- <label for="username">Username</label> -->
                <!-- <input type="text" id="username" class="form-control" formControlName="username"> -->
                <!-- <div *ngIf="username?.invalid && username?.touched" class="text-danger"> -->
                  <!-- Display error message for invalid username -->
                  <!-- <span *ngIf="username?.errors?.required">Username is required.</span>
                </div>
              </div>
            
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email">
                <div *ngIf="email?.invalid && email?.touched" class="text-danger">
                  Display error message for invalid email -->
                  <!-- <span *ngIf="email?.errors?.required">Email is required.</span>
                  <span *ngIf="email?.errors?.[email]">Invalid email format.</span>
                </div>
              </div> -->
            
              <!-- <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
                <div *ngIf="password?.invalid && password?.touched" class="text-danger">
                   Display error message for invalid password -->
                  <!-- <span *ngIf="password?.errors?.required">Password is required.</span>
                  <span *ngIf="password?.errors?.[minLength]">Password should be at least 6 characters long.</span>
                </div>
              </div> -->
            
              <!-- <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign Up</button>
              <button type="button" class="btn btn-link" (click)="goToLogin()">Go to Login</button>
            </form> --> 
            <!-- neeeew -->
            

            <section class="Form my-4 mx-5">
              <div class="container">
                <div class="row no-gutters">
                  <div class="col-lg-5">
                    <img src="assets/gif/reggif.gif" class="img-fluid" alt="" width="850" height="700">
                  </div>
                  <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">Sign up</h1>
                    <h4>Register here</h4>
                    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                      <div class="form-row">
                        <div class="col-lg-7">
                          <input type="text" placeholder="Username" formControlName="username" class="form-control my-3 p-3" [(ngModel)]="username" (ngModelChange)="checkUsername()">
                          <div *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched" class="text-danger">
                            Username is required.
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-lg-7">
                          <input type="email" placeholder="Email-Address" formControlName="email" class="form-control my-3 p-3" [(ngModel)]="email">
                          <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="text-danger">
                            Please enter a valid email address.
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-lg-7">
                          <input type="password" placeholder="Password" formControlName="password" class="form-control my-3 p-3" required  [(ngModel)]="password">
                          <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="text-danger">
                            Password is required.
                          </div>
                          <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-lg-7">
                          <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control my-3 p-3" required>
                          <div *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched" class="text-danger">
                            Passwords do not match.
                          </div>
                        </div>
                      </div>
                      
                      
                      <div class="form-row">
                        <div class="col-lg-7">
                          <button type="submit" class="btn1" [disabled]="registrationForm.invalid || registrationForm.hasError('passwordsMismatch')">Sign up</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
            
            