
<!-- <style>
  /* Add custom styles here */
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
  }

  h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .lead {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
</style> -->


<!-- <div class="container mt-8">
    <h1>Welcome to Parcel Booking!</h1>
    <p class="lead">We offer fast and reliable parcel delivery services. Book your parcel today!</p>
  
    <div class="row mt-6">
      <div class="col-lg-6">
        <h2>Register here</h2>
        <p>Don't have an account? No worries, sign up here to enjoy our services</p>
        <a routerLink="/signup" class="btn btn-primary">Sign up</a>
      </div>
      <div class="col-lg-6">
        <h2>Login</h2>
        <p>Already have an account? Great! Let's get started with our services</p>
        <a routerLink="/login" class="btn btn-primary">Sign in</a>
      </div>
    </div>
  </div>
   -->


   <style>
    /* .card {
      background: linear-gradient(to bottom right, #e66465, #9198e5);
      color: white;
    } */

    /* home.component.css */

   #bg{
  background-color:thistle;
  background-size: 100% 100%;
  color: white;
}

.container {
  margin-top: 8rem; /* Adjust this value as needed */
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


  </style>
  <div id="bg">
  <div  style="text-align: center;" class="container mt-8">
    <h1 >Welcome to Parcel Booking!</h1>
    <p class="lead">We offer fast and reliable parcel delivery services. Book your parcel today!</p>
  
    <div class="row mt-6">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h2>Register here</h2>
            <p>Don't have an account? No worries, sign up here to enjoy our services</p>
            <a routerLink="/signup" class="btn btn-primary">Sign up</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h2>Login</h2>
            <p>Already have an account? Great! Let's get started with our services</p>
            <a routerLink="/login" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button routerLink="/admindashboard">admin</button>
