

:root {
    /* --primary-color */
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.153);

}

body {
    font-family: 'Homemade Apple', cursive;
    font-family: 'Lily Script One', cursive;
    font-family: 'Sora', sans-serif;
    line-height: 1.7;
    color: var(--body)
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

.navbar {
    box-shadow: var(--box-shadow);
    font-size: 100px;
    height: 56px;
}
.navbar-nav .nav-link {
    font-size: 16px; /* Adjust the font size as needed */
}



.logo {

    width: 100px;
    height: 100px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}


.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 10px;
}

.parcel-Booking {
    background-image: url("../../assets/images/pexels-tima-miroshnichenko-6169668.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;

}

.parcel-Booking ::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(11, 11, 11, 0.13);
    z-index: -1;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    border: #21252f;
    background-color: #ffffff;
    padding: 25px;
    transition: all 0.35s ease;

}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(10px);
}
.text-primary{
    font-size:xx-large;
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: white;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}

.heading{
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 4px;

}

.service {
    position: relative;
    z-index: 2;
    overflow: hidden;

}

.service ::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100;
    left: 0;
    background-color:grey;
    /* var(--black) */
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}

.service:hover.iconbox {
    background-color: white;
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover ::after {
    opacity: 1;
    top: 0;
}

.col-img {
    background-image: url('../../assets/images/pexels-tima-miroshnichenko-6169668.jpg');

    background-position: center;
    background-size: cover;
    min-height: 300px;
    padding-right: 20px;
}

img {
    width: 250px;
    height: 300px;
}

.team-member img {
    width: 175px;
    height: 175px;
    border-radius: 100px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 2px solid ;
    border-color: black;
    color: black;
    /* #0e0d0d */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    margin-left: 5px;
    transition: all 0.5s ease;
    border: 2px solid var(--primary);

}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);

}

form input.form-control {
    height: 56px;

}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.02);

}

/* .footer-top {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: white; /* Set the background color to white */
/* color: black; Set the text color to black */
/* additional styles */
*/ .footer-top {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--dark);
    color: white;
}

.footer-top h2 {
    color: black;
}

.footer-top a {
    color: white;
}

.footer-top a:hover {
    color: var(--primary);
}

.footer-top .bx {
    margin-right: 5px;
}

.container.text-muted {
    margin-top: 30px;
}

.container.text-center {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* .nav-item button:hover,
.nav-item button:focus {
  background-color: white;

  
}
.nav-item button.text {
color: white;
}

.nav-item button.text:hover,
.nav-item button.text:focus {
color: black;
background-color: white;
}


.text:hover span{color:black};
.nav-item:fixed,
.nav-item button:hover,
.nav-item button:focus,
.nav-item button:hover span,
.nav-item button:hover span {
color: rgb(231, 8, 8);
} */