<app-navbar></app-navbar>
<div class="search-container">
    <input type="text" placeholder="Search...">
    <button type="submit">Search</button>
  </div>
<div class="container">   
    <table>
      <tr>
        <th>Parcel ID</th>
        <th>View Parcel</th>
        <th>Tracking</th>
      </tr>
      <tr *ngFor="let parcel of parcels">
        <td>{{parcel.id}}</td>
        <td><button  (click)="viewdetails(parcel.id)">View</button></td>
        <td><button>Track</button></td>
      </tr>
      <!-- <tr>
        <td>2</td>
        <td><button>View</button></td>
        <td><button>Track</button></td>
      </tr> -->
      <!-- Add more rows as needed -->
    </table>
  </div>