<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <mat-form-field appearance="fill">
            <label>Services</label>
            <mat-select>
              <mat-option value="add-parcel">Add Parcel</mat-option>
              <mat-option value="tracking">Tracking</mat-option>
              <mat-option value="search">Search</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <div class="content">
   <div class="container rounded bg-light p-4">
    <div class="row">
      <div class="col-lg-4">
        <h1>Welcome to ParcelBooking Website!</h1>
        <p>Delivering smiles, one package at a time.</p>
      </div>
      <div class="col-lg-8">  -->
        <!-- <img src="assets/gif/scooter.gif" alt="GIF" width="100%"> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div>  -->
<body>
  

<app-navbar></app-navbar>
<div class="content">
  <div class="container rounded bg-light p-4">
    <div class="row">
      <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
        <h1 style="font-size: 2.5rem; color: #333; text-align: center; margin-bottom: 1rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">Welcome to Parcel Delivery!</h1>
        <p style="font-size: 1.2rem; color: #666; text-align: center;">Delivering smiles, one package at a time.</p>
      </div>
      <div class="col-lg-8 d-flex justify-content-center align-items-center"> 
        <img src="assets/gif/scooter.gif" alt="GIF" class="gif-image rounded-circle" style="width: 100%;">
      </div>
    </div>
  </div>
</div>
</body>

<!-- 
<div class="video-background">
  <video autoplay loop muted>
    <source src="assets/1.mp4" type="video/mp4">
  </video>
</div> -->
