
  
  
    <!-- /* Add your custom styles here */ -->
    
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-info">
            <p>
              <i class="fas fa-envelope contact-icons"></i> <a href="mailto:parcelbooking@gmail.com">parcelbooking@gmail.com</a>
            </p>
            <p>
              <i class="fas fa-phone contact-icons"></i> +91 234567889
            </p>
            <p>
              <i class="fab fa-whatsapp contact-icons"></i> +91234233566
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <p class="text-muted mb-0">
        &copy; 2023. ParcelBooking.com. All Rights Reserved.
      </p>
    </div>
  </footer>

  