<app-navbar></app-navbar>

<title>Add Parcel</title>

<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card my-4 shadow-3">
        <img src="https://plus.unsplash.com/premium_photo-1663134275544-7d83fcfa0e54?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="Sample photo" class="img-fluid" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="card my-4 shadow-3">
        <div class="card-body p-md-5 text-black">
          <h3 class="mb-4 text-uppercase">Add Parcel</h3>
          <div class="row">
            <div class="form-outline mb-4 col-md-12">
              <input type="text" id="form3Example1m" class="form-control form-control-m" placeholder="Sender Name" [(ngModel)]="sendername" />
            </div>
          </div>
          <div class="row">
            <div class="form-outline mb-4 col-md-12">
              <input type="text" id="form3Example1m" class="form-control form-control-m" placeholder="Receiver Name" [(ngModel)]="receivername" />
            </div>
          </div>
          <div class="row">
            <div class="form-outline mb-4 col-md-12">
              <input type="text" id="form3Example8" class="form-control form-control-m" placeholder="Sender's Address" [(ngModel)]="senderaddress"/>
            </div>
          </div>
          <div class="row">
            <div class="form-outline mb-4 col-md-12">
              <input type="text" id="form3Example3" class="form-control form-control-m" placeholder="Receiver's Address" [(ngModel)]="recieveraddress"/>
            </div>
          </div>
          <div class="row">
            <div class="form-outline mb-4 col-md-12">
              <input type="text" id="form3Example9" class="form-control form-control-m" placeholder="Mobile No:" [(ngModel)]="recieverPhno"/>
            </div>
          </div>
          
          <div class="d-flex justify-content-end pt-3">
            <button type="button" class="btn btn-success btn-m ms-2" style="background-color:hsl(210, 100%, 50%)" (click)="add()">Place order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <app-footer></app-footer>
</div>

<script>
function showAlert() {
  alert('Order placed successfully!');
}
</script>
