.nav-item button:hover,
.nav-item button:focus {
  background-color: white;

  
}
.nav-item button.text {
color: white;
}

.nav-item button.text:hover,
.nav-item button.text:focus {
color: black;
background-color: white;
}


.text:hover span{color:black};
.nav-item:fixed,
.nav-item button:hover,
.nav-item button:focus,
.nav-item button:hover span,
.nav-item button:hover span {
color: rgb(231, 8, 8);
}