
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">ParcelBooking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button mat-button routerLink="/">Home</button>
          </li>
          <li class="nav-item">
            <button mat-button routerLink="/about">About</button>
          </li>
          
          <li class="nav-item dropdown">
            <button mat-button [matMenuTriggerFor]="servicesMenu">Services</button>
            <mat-menu #servicesMenu="matMenu">
              <button mat-menu-item routerLink="/parcelform">Add Parcel</button>
              <button mat-menu-item routerLink="/track">Track</button>
              <button mat-menu-item routerLink="/search">Search</button>
            </mat-menu>
          </li>
          <li class="nav-item">
            <button mat-button routerLink="/about">Contact</button>
          </li>
        </ul>
      </div>
    </div>
  </nav> --> 
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">ParcelBooking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button mat-button routerLink="/mainpage">Home</button>
          </li>
          <li class="nav-item">
            <button mat-button routerLink="/about">About</button>
          </li>
          
          <li class="nav-item dropdown">
            <button mat-button [matMenuTriggerFor]="servicesMenu">Services</button>
            <mat-menu #servicesMenu="matMenu">
              <button mat-menu-item routerLink="/parcelform">Add Parcel</button>
              <button mat-menu-item routerLink="/track">Track</button>
              <button mat-menu-item routerLink="/search">Search</button>
            </mat-menu>
          </li>
          <li class="nav-item">
            <button mat-button routerLink="/about">Contact</button>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">ParcelBooking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button mat-button routerLink="/mainpage" class="text">Home</button>
        </li>

        <li class="nav-item dropdown">
          <button mat-button [matMenuTriggerFor]="servicesMenu" class="text">Services</button>
          <mat-menu #servicesMenu="matMenu">
            <button mat-menu-item routerLink="/parcelform">Add Parcel</button>
            <button mat-menu-item routerLink="/tracking">Track</button>
            <!-- <button mat-menu-item routerLink="/search">Search</button> -->
          </mat-menu>
        </li>
        <li class="nav-item">
          <button mat-button routerLink="/home" class="text">LogOut</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

  
  